// Your custom variables
@import "./skin";

//Fonts
$font-family-base: "Poppins", sans-serif;

// Cards
$card-border-radius: 0rem !default;
$card-box-shadow: none;

$border-radius: 0.25rem !default;
$border-radius-sm: 0.15rem !default;
$border-radius-lg: 0.35rem !default;
$border-radius-pill: 50rem !default;

//Form
$input-bg: #fafafa;
$input-border-radius: 0.25rem;
$input-border-radius-sm: 0.15rem;
$input-border-radius-lg: 0.4rem;
$input-border-width: 1px;
$input-border-color: $gray-100;
$input-placeholder-color: $gray-300;
$input-color: $black;
