@import "./bootstrap_var";
.categorie {
  color: $primary-300 !important;
}

.text {
  i {
    color: $primary-300 !important;
    font-size: 16px;
    width: 16px;
    padding-right: 20px;
  }
  div {
    font-size: 14px;
    color: $gray-400;
  }
}
